/* CSS Doc*/

.red {
	color: red;
}
.green {
	color: green;
}
.purple {
	color: purple;
}
.yellow {
	color: yellow;
}
.orange {
	color: orange;	
}
.blue {
	color: blue;
}
.entire {
	background-color: black;
}

h1 {
	color: white;
}
.header {
	background-color: black;
	
}
#header {
	background-color: #eee;
	font-family: Comic Sans MS;
	font-size: 100px;
	text-align: center;
}
header {
    background-color: white;
    position: absolute;
    top: 2%;
    width: 96%;
    height: 10%;
    left: 2%;
    font-size: 40px;
    color: blue;
}
.col-centered{
    margin: 0 auto;
}

.col-md-2 a {
	background-color: black;
	color: blue;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.col-md-2 a:nth-child(1):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 lightgreen;
	color: lightgreen;
}
.col-md-2 a:nth-child(2):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 orange;
	color: orange;
}
.col-md-2 a:nth-child(3):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 red;
	color: red;
}
.col-md-2 a:nth-child(4):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 yellow;
	color: yellow;
}
.col-md-2 a:nth-child(5):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 white;
	color: white;
}

#content {
	margin-left: 200px;
	margin-right: 200px;
    border: 2px solid blue;
}
.add {
	color: white;
	font-size: 100px;
}

.question img {
	height: 100px;
	width: 100px;
}
#message {
	font-size: 45px;
}
#controls img{
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	display: inline;
}
btn btn-primary btn-lg:nth-child(1) {
	background-color: green;
}
btn btn-primary btn-lg:nth-child(2) {
	background-color: red;
}

h3 .num {
	padding: 20px;
	font-size: 80px;
}

.img {
		margin-left: auto;
}

#green {
    color: green;
}
#red {
    color: red;
}
#tru {
    width: 49%;
    height: 100%;
    font-size: 150px;
}
#fal {
    width: 49%;
    height: 100%;
    font-size: 150px;
}
footer {
    width: 98%;
    height: 25%;
    position: absolute;
    bottom: 1%;
    left: 1%;
}
#scorebox {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
}
#score {
    display: inline-block;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
#num1 {
    padding: 20px;
	font-size: 80px;
	background-color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#num2 {
    padding: 20px;
	font-size: 80px;
	background-color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#sum {
    padding: 20px;
	font-size: 80px;
	background-color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#midtable {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 63%;
    top: 12%;
    font-size: 90px;
}
#eq {
    color: white;
    font-weight: bold;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#message {
    font-weight: bold;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#leftCorner {
    font-size: 70px;
    color: blue;
}
#hearts > span {
    color: red;
    font-size: 50px;
}

/* leaderboard */
.row a {
	background-color: black;
	color: blue;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.row a:hover {
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.table th:nth-child(odd) {
	color: yellow;
}
.table th:nth-child(even) {
	color: blue;
}

.table td:nth-child(odd) {
	color: yellow;
}
.table td:nth-child(even) {
	color: blue;
}
.table tr {
	background-color: black;
	border: none;
}

/* SIGN UP */

.col-md-2 button {
	background-color: black;
	color: blue;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.col-md-2 button:nth-child(even):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 lightgreen;
	color: lightgreen;
}
.col-md-2 button:nth-child(odd):hover{
	background-color: black;
	box-shadow: 0 12px 16px 0 red;
	color: red;
}


/* Settings*/

